USE [master]
GO
/****** Object:  Database [Library]    Script Date: 13.10.2023 23:12:26 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Authors__3213E83FB050A18E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[pages] [int] NOT NULL,
	[year_press] [int] NOT NULL,
	[id_theme] [int] NOT NULL,
	[id_category] [int] NOT NULL,
	[id_author] [int] NOT NULL,
	[id_publishment] [int] NOT NULL,
	[comment] [nvarchar](50) NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK__Books__3213E83F47B37243] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Categori__3213E83F6CB94F4A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Departme__3213E83F71C95102] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[id_department] [int] NOT NULL,
 CONSTRAINT [PK__Groups__3213E83FD538E9C2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Librarian]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Librarian](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Libs__3213E83F3EB3017D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishment]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Press__3213E83F769C9C60] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_Cards]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_Cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [int] NOT NULL,
	[id_book] [int] NOT NULL,
	[date_out] [nvarchar](50) NULL,
	[date_in] [nvarchar](50) NULL,
	[id_librarian] [int] NOT NULL,
 CONSTRAINT [PK__S_Cards__3213E83F7E21590D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[id_group] [int] NOT NULL,
	[term] [int] NULL,
 CONSTRAINT [PK__Students__3213E83FE3F27931] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Cards]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_teacher] [int] NULL,
	[id_book] [int] NULL,
	[date_out] [nvarchar](50) NULL,
	[date_in] [nvarchar](50) NULL,
	[id_librarian] [int] NULL,
 CONSTRAINT [PK__T_Cards__3213E83F4446C1D5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[id_department] [int] NULL,
 CONSTRAINT [PK__Teachers__3213E83F986F87EF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 13.10.2023 23:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK__Themes__3213E83FDD8BA9E4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([id], [first_name], [last_name]) VALUES (1, N'Джеймс Р.', N'Грофф')
INSERT [dbo].[Author] ([id], [first_name], [last_name]) VALUES (2, N'Сергей', N'Никольский')
INSERT [dbo].[Author] ([id], [first_name], [last_name]) VALUES (3, N'Михаил', N'Маров')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([id], [name], [pages], [year_press], [id_theme], [id_category], [id_author], [id_publishment], [comment], [quantity]) VALUES (1, N'SQL', 816, 2018, 1, 1, 1, 2, N'2-е издание', 2)
INSERT [dbo].[Book] ([id], [name], [pages], [year_press], [id_theme], [id_category], [id_author], [id_publishment], [comment], [quantity]) VALUES (2, N'3D Studio Max 7', 640, 2017, 3, 6, 3, 3, N'Учебный курс', 3)
INSERT [dbo].[Book] ([id], [name], [pages], [year_press], [id_theme], [id_category], [id_author], [id_publishment], [comment], [quantity]) VALUES (3, N'5 компонентов библиотеки STL', 272, 2015, 2, 4, 5, 4, N'Компоненты', 1)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Язык SQL')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Математический анализ')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'C++ Builder')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([id], [name]) VALUES (1, N'Разработки программного обеспечения')
INSERT [dbo].[Department] ([id], [name]) VALUES (2, N'Компьютерной графики и дизайна')
INSERT [dbo].[Department] ([id], [name]) VALUES (3, N'Железа и Администрирования')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([id], [name], [id_department]) VALUES (2, N'ПВ912', 1)
INSERT [dbo].[Group] ([id], [name], [id_department]) VALUES (3, N'КН-201', 1)
INSERT [dbo].[Group] ([id], [name], [id_department]) VALUES (4, N'КН-202', 1)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Librarian] ON 

INSERT [dbo].[Librarian] ([id], [first_name], [last_name]) VALUES (1, N'Сергей', N'Максименко')
INSERT [dbo].[Librarian] ([id], [first_name], [last_name]) VALUES (2, N'Дмитрий', N'Чеботарев')
SET IDENTITY_INSERT [dbo].[Librarian] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishment] ON 

INSERT [dbo].[Publishment] ([id], [name]) VALUES (1, N'DiaSoft')
INSERT [dbo].[Publishment] ([id], [name]) VALUES (2, N'BHV')
INSERT [dbo].[Publishment] ([id], [name]) VALUES (3, N'Питер')
SET IDENTITY_INSERT [dbo].[Publishment] OFF
GO
SET IDENTITY_INSERT [dbo].[S_Cards] ON 

INSERT [dbo].[S_Cards] ([id], [id_student], [id_book], [date_out], [date_in], [id_librarian]) VALUES (1, 2, 1, N'2019-05-17 00:00:00', N'2019-06-12 00:00:00', 1)
INSERT [dbo].[S_Cards] ([id], [id_student], [id_book], [date_out], [date_in], [id_librarian]) VALUES (2, 17, 18, N'2019-05-18 00:00:00', NULL, 1)
INSERT [dbo].[S_Cards] ([id], [id_student], [id_book], [date_out], [date_in], [id_librarian]) VALUES (3, 6, 3, N'2019-04-21 00:00:00', NULL, 2)
SET IDENTITY_INSERT [dbo].[S_Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [first_name], [last_name], [id_group], [term]) VALUES (2, N'Вячеслав', N'Зезик', 3, 2)
INSERT [dbo].[Student] ([id], [first_name], [last_name], [id_group], [term]) VALUES (3, N'Ольга', N'Мантуляк', 4, 2)
INSERT [dbo].[Student] ([id], [first_name], [last_name], [id_group], [term]) VALUES (4, N'Ольга', N'Хренова', 8, 2)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[T_Cards] ON 

INSERT [dbo].[T_Cards] ([id], [id_teacher], [id_book], [date_out], [date_in], [id_librarian]) VALUES (1, 2, 13, N'2019-01-01 00:00:00', N'2019-07-04 00:00:00', 1)
INSERT [dbo].[T_Cards] ([id], [id_teacher], [id_book], [date_out], [date_in], [id_librarian]) VALUES (2, 10, 2, N'2019-03-03 00:00:00', NULL, 1)
INSERT [dbo].[T_Cards] ([id], [id_teacher], [id_book], [date_out], [date_in], [id_librarian]) VALUES (3, 6, 12, N'2019-06-04 00:00:00', NULL, 2)
SET IDENTITY_INSERT [dbo].[T_Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([id], [first_name], [last_name], [id_department]) VALUES (1, N'Виталий', N'Полянский', 1)
INSERT [dbo].[Teacher] ([id], [first_name], [last_name], [id_department]) VALUES (2, N'Александр', N'Загоруйко', 1)
INSERT [dbo].[Teacher] ([id], [first_name], [last_name], [id_department]) VALUES (3, N'Елена', N'Шишковец', 2)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([id], [name]) VALUES (1, N'Базы данных')
INSERT [dbo].[Theme] ([id], [name]) VALUES (2, N'Программирование')
INSERT [dbo].[Theme] ([id], [name]) VALUES (3, N'Графические пакеты')
SET IDENTITY_INSERT [dbo].[Theme] OFF
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF__Authors__first_n__108B795B]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF__Authors__last_na__117F9D94]  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__name__145C0A3F]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__pages__15502E78]  DEFAULT (NULL) FOR [pages]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__year_pres__164452B1]  DEFAULT (NULL) FOR [year_press]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__id_themes__173876EA]  DEFAULT (NULL) FOR [id_theme]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__id_catego__182C9B23]  DEFAULT (NULL) FOR [id_category]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__id_author__1920BF5C]  DEFAULT (NULL) FOR [id_author]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__id_press__1A14E395]  DEFAULT (NULL) FOR [id_publishment]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__comment__1B0907CE]  DEFAULT (NULL) FOR [comment]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Books__quantity__1BFD2C07]  DEFAULT (NULL) FOR [quantity]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Categories__name__1ED998B2]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF__Department__name__21B6055D]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [DF__Groups__name__276EDEB3]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [DF__Groups__id_facul__286302EC]  DEFAULT (NULL) FOR [id_department]
GO
ALTER TABLE [dbo].[Librarian] ADD  CONSTRAINT [DF__Libs__first_name__2B3F6F97]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[Librarian] ADD  CONSTRAINT [DF__Libs__last_name__2C3393D0]  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [dbo].[Publishment] ADD  CONSTRAINT [DF__Press__name__2F10007B]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[S_Cards] ADD  CONSTRAINT [DF__S_Cards__id_stud__31EC6D26]  DEFAULT (NULL) FOR [id_student]
GO
ALTER TABLE [dbo].[S_Cards] ADD  CONSTRAINT [DF__S_Cards__id_book__32E0915F]  DEFAULT (NULL) FOR [id_book]
GO
ALTER TABLE [dbo].[S_Cards] ADD  CONSTRAINT [DF__S_Cards__date_ou__33D4B598]  DEFAULT (NULL) FOR [date_out]
GO
ALTER TABLE [dbo].[S_Cards] ADD  CONSTRAINT [DF__S_Cards__date_in__34C8D9D1]  DEFAULT (NULL) FOR [date_in]
GO
ALTER TABLE [dbo].[S_Cards] ADD  CONSTRAINT [DF__S_Cards__id_lib__35BCFE0A]  DEFAULT (NULL) FOR [id_librarian]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Students__first___398D8EEE]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Students__last_n__3A81B327]  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Students__id_gro__3B75D760]  DEFAULT (NULL) FOR [id_group]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF__Students__term__3C69FB99]  DEFAULT (NULL) FOR [term]
GO
ALTER TABLE [dbo].[T_Cards] ADD  CONSTRAINT [DF__T_Cards__id_Teac__3F466844]  DEFAULT (NULL) FOR [id_teacher]
GO
ALTER TABLE [dbo].[T_Cards] ADD  CONSTRAINT [DF__T_Cards__id_Book__403A8C7D]  DEFAULT (NULL) FOR [id_book]
GO
ALTER TABLE [dbo].[T_Cards] ADD  CONSTRAINT [DF__T_Cards__date_ou__412EB0B6]  DEFAULT (NULL) FOR [date_out]
GO
ALTER TABLE [dbo].[T_Cards] ADD  CONSTRAINT [DF__T_Cards__date_in__4222D4EF]  DEFAULT (NULL) FOR [date_in]
GO
ALTER TABLE [dbo].[T_Cards] ADD  CONSTRAINT [DF__T_Cards__id_lib__4316F928]  DEFAULT (NULL) FOR [id_librarian]
GO
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [DF__Teachers__first___45F365D3]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [DF__Teachers__last_n__46E78A0C]  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [DF__Teachers__id_dep__47DBAE45]  DEFAULT (NULL) FOR [id_department]
GO
ALTER TABLE [dbo].[Theme] ADD  CONSTRAINT [DF__Themes__name__4AB81AF0]  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([id_author])
REFERENCES [dbo].[Author] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Press] FOREIGN KEY([id_publishment])
REFERENCES [dbo].[Publishment] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Press]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Books_Themes] FOREIGN KEY([id_theme])
REFERENCES [dbo].[Theme] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Books_Themes]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Departments] FOREIGN KEY([id_department])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Groups_Departments]
GO
ALTER TABLE [dbo].[S_Cards]  WITH CHECK ADD  CONSTRAINT [FK_S_Cards_Books] FOREIGN KEY([id_book])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[S_Cards] CHECK CONSTRAINT [FK_S_Cards_Books]
GO
ALTER TABLE [dbo].[S_Cards]  WITH CHECK ADD  CONSTRAINT [FK_S_Cards_Libs] FOREIGN KEY([id_librarian])
REFERENCES [dbo].[Librarian] ([id])
GO
ALTER TABLE [dbo].[S_Cards] CHECK CONSTRAINT [FK_S_Cards_Libs]
GO
ALTER TABLE [dbo].[S_Cards]  WITH CHECK ADD  CONSTRAINT [FK_S_Cards_Students] FOREIGN KEY([id_student])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[S_Cards] CHECK CONSTRAINT [FK_S_Cards_Students]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Students_Groups]
GO
ALTER TABLE [dbo].[T_Cards]  WITH CHECK ADD  CONSTRAINT [FK_T_Cards_Books] FOREIGN KEY([id_book])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[T_Cards] CHECK CONSTRAINT [FK_T_Cards_Books]
GO
ALTER TABLE [dbo].[T_Cards]  WITH CHECK ADD  CONSTRAINT [FK_T_Cards_Libs] FOREIGN KEY([id_librarian])
REFERENCES [dbo].[Librarian] ([id])
GO
ALTER TABLE [dbo].[T_Cards] CHECK CONSTRAINT [FK_T_Cards_Libs]
GO
ALTER TABLE [dbo].[T_Cards]  WITH CHECK ADD  CONSTRAINT [FK_T_Cards_Teachers] FOREIGN KEY([id_teacher])
REFERENCES [dbo].[Teacher] ([id])
GO
ALTER TABLE [dbo].[T_Cards] CHECK CONSTRAINT [FK_T_Cards_Teachers]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Departments] FOREIGN KEY([id_department])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teachers_Departments]
GO
USE [master]
GO
